
# Emacs users ... 
*~

# Gradle builds into a 'build' directory
build

# Idea uses the out directory instead of build
out

# Gradle also uses a .gradle directory for gradle state info
.gradle

# Ideas files
*.iml
*.ipr
*.iws

.DS_STORE
.idea
*.log

